/*
  This will be moved to main.css (In resources/css/)
*/
body, html {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-top: 60px;
}

// Close Button

.closebutton {
  margin-right: 0;
}

// Controls

.endofcontrols {
  margin-right: 10px;
}

// Navbar Form

.navbar-form {
  padding: 10px 15px;
  height: 30px;
  margin-top: 6px;
  margin-bottom: 8.5px;
  .input-group > .form-control {
    padding-left: 10px;
    width: 70px;
    border-radius: 3px;
    height: 30px;
  }
}

// Navbar (Inverse)

.navbar-inverse {
  padding-right: 15px;
  margin-left: -1px;
  height: 60px;
  line-height: 60px;
}

// Small Column

.col-xs-1 {
  width: 70px;
  padding-left: 0;
  padding-right: 0;
  margin-right: 20px;
}

// Container

.container-fluid {
  margin: 0;
  padding: 0;
  padding-bottom: -60px;
  height: 100%;
}

// Sidebar

.sidebar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  position: absolute;
  padding-left: 50px;
  height: 100%;
  width: 150px;
  maximum-width: 150px;
  z-index: 10;
}

// Daw Content (Midi, Waveform & such)

.dawcontent {
  margin-left: 150px !important;
  position: absolute;
  height: 100% !important;
}

// Right Sidebar, Channels etc

.rightsidebar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  position: absolute;
  right: 0;
  height: 100%;
  z-index: 10;
}

// Instruments Button

.instrumentsbutton {
  padding-left: 8px;
  width: 100% !important;
}

// Landing Navigation

.landingnav {
  margin: 0 auto;
  padding-right: 0;
  display: table;
  table-layout: fixed;
  float: none;
}

// Landing Page "No Projects Open"

.new-content {
  min-height: 100%;
  max-height: 100%;
  padding-bottom: -60px;
}

// Landing Page div (Contains .new-content)

.landingpage {
  padding-top: 25%;
  text-align: center;
}

// Titlebar (With Subtitle, Contains Project Name & Project Location)

.titlebar {
  line-height: 15px !important;
  padding-top: 14px;
  position: absolute;
  float: center !important;
  left: 50%;
}

// Where the Project is Contained

.project {
  margin-top: -5px;
  font-size: 10px;
}

// Sidebar Tab(s)

.sidebarTabs {
  position: absolute;
  bottom: 0px;
}

.sidebarTab {
  height: 380px;
}

// Sidebar Tab(s) Content
.tabContents {
  margin: 0px;
}


// Clock

.clock {
  position: absolute;
  top: 12px;
}

// Volume Indicator

#VUmeterCanvas {
  position: absolute;
  top: 5px;
  left: 12px;
}

// Master Volume

#masterVolume {
  height: 72px;
  position: absolute;
  top: 14px;
  left: 48px;
}

// Effects

#effectSortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    margin: 3px 3px 3px 0;
    border-radius: 10px;
    padding: 1px;
    float: left;
    width: 190px;
    height: 80px;
    font-size: 4em;
    text-align: center;
    position: relative;
  }
}

.hidden {
  display: none;
}

.effectsBed {
  margin-left: 80px;
  position: absolute;
  bottom: 0px;
}

.effectClose {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  filter: alpha(opacity = 20);
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  position: absolute;
  right: 0px;
  top: 0px;
  &:hover, &:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .4;
  }
}

// Knobs (Instruments)
.knobs {
  position: absolute;
  left: 5px;
  top: 35px;
}

.left-knob-label {
  font-size: 10px;
  margin-left: 5px;
  position: absolute;
  top: 17px;
}

.middle-knob-label {
  font-size: 10px;
  padding-bottom: 20px;
  top: 17px;
  left: 75px;
  position: absolute;
}

.right-knob-label {
  font-size: 10px;
  margin-right: 5px;
  position: absolute;
  right: 5px;
  top: 17px;
}


// Tracks/Channels

.track {
  height: 82px;
  position: relative;
  border-radius: 10px;
  margin-bottom: 10px;
}

// Add Track/Channel

.addTrack {
  opacity: .4;
  border-radius: 10px;
  padding: 5px;
  transition: opacity .5s;
  margin-bottom: 10px;
  &:hover {
    opacity: 100;
  }
}

// Plus Button
.plusButton {
  width: 50%;
  margin: 0 auto;
}

// Track/Channel Box

.trackBox {
  height: 82px;
  position: relative;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

// Timeline

.timeline {
  height: 40px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.ui-resizable-helper {
  border: 2px dotted #00F;
}

#holder {
  min-height: 100%;
  position: relative;
}

.scrollable {
  overflow-x: hidden;
}

#trackEffects, #masterControl {
  display: none;
  height: 95px;
  position: relative;
}

#reverbList {
  width: 100%;
  font-size: 10px;
}

// Popover Fix - Required for UI to have Popovers in Nav/Headerbar

.popover {
  z-index: 1030;
}

// Sidebar

.sidebar-list {
  list-style-type: none;
  padding: 0;
  margin-left: -30px;
  p {
    padding: 0;
  }
}

/* Modal Modification */

body .collaboration {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  overflow-x: none;
  overflow-y: none;
}

.collab-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

.modal {
  overflow-y: auto;
}

.custom-search-form {
  margin-top: 5px;
  width: 100%;
}

// Landing Page

div.new-content {
  text-align: center;
  padding-top: 6%;
}

div.landingpage-content {
  margin-top: 25px;
  text-align: left;
  padding-left: 40%;
}

a.landingpage-content {
  text-decoration: none;
}

.collab-title {
  text-align: center;
  padding: 0;
  margin: 0;
}

.fullheight {
  height: 30px;
}

.new-project {
  line-height: 20px;
}

// End of Required Styles
